@import 'global';

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vmin;

    &__card {
        display: flex;
        position: relative;
        left: -13%;
    }

    &__card-image {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        background-image: url('/assets/AngusWins.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        }
    
    &__card-text-group {
        display: flex;
        flex-flow: column nowrap;
        padding: 40px;
        white-space: nowrap;

        &--name {
            font-weight: 700;
            position: relative;
            top: -4px;
        }
    }
}