@import 'global';
@import 'variables';

.hero {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vmin;

    &__card {
        display: flex;
        position: relative;
        left: -13%;
    }

    &__card-image {
        padding: 1rem;
        height: 200px;
        width: 200px;
        border-radius: 50%;
        background-image: url('/assets/AngusWins.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        }

    &__card-text-name {
        @include card-text;
        font-weight: 700;
        position: relative;
        top: -4px;
    }
}

@media screen and (max-width: 600px){
    .hero {
        padding: 0% 50% 0% 50%;

        &__card {
            flex-flow: $flexOrient $flexWrap;
            align-items: $alignment;
        }

        &__card-text-group {
            align-items: $alignment;
        }
    }
}

/* #### Mobile Phones Portrait #### */
@media screen and (max-device-width: 480px) and (orientation: portrait){
    .hero {
        padding: 0% 50% 0% 50%;

        &__card {
            flex-flow: $flexOrient $flexWrap;
            align-items: $alignment;
        }

        &__card-text-group {
            align-items: $alignment;
        }
    }
}

/* #### Mobile Phones Landscape #### */
@media screen and (max-device-width: 640px) and (orientation: landscape){
    .hero {
        padding: 0% 50% 0% 50%;

        &__card {
            flex-flow: $flexOrient $flexWrap;
            align-items: $alignment;
        }

        &__card-text-group {
            align-items: $alignment;
        }
    }
}

/* #### Mobile Phones Portrait or Landscape #### */
@media screen and (max-device-width: 640px){
    .hero {
        padding: 0% 50% 0% 50%;

        &__card {
            flex-flow: $flexOrient $flexWrap;
            align-items: $alignment;
        }

        &__card-text-group {
            align-items: $alignment;
        }
    }
}

/* #### iPhone 4+ Portrait or Landscape #### */
@media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2){
    .hero {
        padding: 0% 50% 0% 50%;

        &__card {
            flex-flow: $flexOrient $flexWrap;
            align-items: $alignment;
        }

        &__card-text-group {
            align-items: $alignment;
        }
    }
}

/* #### iPhone 5 Portrait or Landscape #### */
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2){
    .hero {
        padding: 0% 50% 0% 50%;

        &__card {
            flex-flow: $flexOrient $flexWrap;
            align-items: $alignment;
        }

        &__card-text-group {
            align-items: $alignment;
        }
    }
}

/* #### iPhone 6 and 6 plus Portrait or Landscape #### */
@media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3){
    .hero {
        padding: 0% 50% 0% 50%;

        &__card {
            flex-flow: $flexOrient $flexWrap;
            align-items: $alignment;
        }

        &__card-text-group {
            align-items: $alignment;
        }
    }
}