body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
}

.nav-bar {
    position: sticky;
    height: 70px;
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 8px;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
}

.nav-bar__avatar {
    height: 65px;
}

.nav-bar__link-list {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    width: 50%;
    font-weight: 600;
    margin-left: auto;
    margin-right: 5%;
}

.nav-bar__link-list a {
    text-decoration-line: none
}

.hero {
    width: 100%;
    height: 500px;
    background-image: url('../assets/100_1659.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.universal-search {
    background-color: steelblue;
    border: 2px solid gray;
    border-radius: 5px;
    margin: 2px;
    padding: 5px;

}

.universal-return {
    background-color: slategray;
    border: 2px solid gray;
    border-radius: 5px;
    margin: 2px;
    padding: 5px;
}